@use 'variables' as v;

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}

p{
    color: v.$negro;
    font-size: 2rem;
}

.contenedor{
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

h1, h2, h3{
    margin: 0 0 v.$separacion 0;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.6rem;
}

h3{
    font-size: 3.2rem;
}

