@use '../base/variables' as v;
@use 'base/mixins' as m;

.header{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
    position: relative;
    
    @include m.telefono{
        padding: 4rem;
    }

    @include m.tablet{
        min-height: 70rem;
        padding: 3rem;
    }

    @include m.desktop{
        padding: 2rem;
    }

    &::before{ 
        background-color: v.$negro;
        bottom: 0;
        content: ''; 
        left: 0;
        opacity: 0.6;
        position: absolute;
        right: 0;
        top: 0;
    }
    .contenido-header{
        position: relative;

        h1{
            color: v.$blanco;
            margin-top: 5rem;
            text-align: center;
            text-transform: uppercase;

            @include m.tablet { 
                margin-top: 10rem;
            }
        }
    }
}


.header-inicio{
    background-image: url('../img/header_inicio.jpg');
}

.header-nosotros{
    background-image: url('../img/header_nosotros.jpg');
}

.header-proceso{
    background-image: url('../img/header_proceso.jpg');
}

.header-menu{
    background-image: url('../img/header_menu.jpg');
}